<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock %} </title>
    {% block favicon %}
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/fav/favicon.ico" />
    {% endblock %}
    <!-- Style -->
    <link href="{{ STATIC_URL }}css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/vendor/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/vendor/font-awesome.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/vendor/sweetalert.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/local/generic.css" rel="stylesheet">
    <!-- Script -->  
    <script src="{{ STATIC_URL }}js/vendor/jquery-3.2.1.slim.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/bootstrap.bundle.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/sweetalert.min.js"></script>
    {% block style %} {% endblock %}
    {% block script %} {% endblock %}
  </head>
  <body>
    {% block body %} {% endblock %}
  </body>
</html>