<nav class="navbar navbar-expand-md navbar-inverse fixed-top bg-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><span style="color:aqua;"> B E H A V I O Demo </span></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="/db/uhome/">Home</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/db/auth/logon">Logon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/db/auth/register">Register</a>
                </li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
            <ul class="navbar-nav" style="margin-right:20px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user-o" style="margin-right: 5px;"></i>{{ user }}
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/db/uhome/"><i class="fa fa-home" style="margin-right: 3px;"></i>Home</a>
                    </div>
                </li>
            </ul>
            <a class="nav-link" style="text-decoration: none; color:grey;" href="/db/auth/logout" title="Logout">
                <i style="margin-left: 5px;"class="fa fa-power-off"></i>
            </a>
        {% endif %}
    </div>
</nav>